[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/youcompleteme"]
	path = .vim/bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme
